.category-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 4rem;
    justify-content: space-evenly;
    margin-left: 10rem;


}

.category-card img {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.category-card img:hover {
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 8px var(--secondary-color);

}