.category-card {
    min-width: 150px;
    min-height: 150px;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-image: url("https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1lbiUyMHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 6px var(--secondary-color);

}

.category-card:hover {
    /* box-shadow: 0px 0px 8px 10px var(--secondary-color) */
    box-shadow: 0px 0px 5px 5px var(--primary-color);
    cursor: pointer;
}

/* .category-card  p {
    font-weight: 900;
    color:black;
} */

.category-card-content {
    background-color: white;
    width: 100%;
    opacity: 0.7;
}